/* src/pages/index.module.css */
/* Define theme variables */
:root {
  --hero-text-color: rgb(36, 36, 36);
  --footer-bg-color: rgb(248, 249, 250);
  --block-icon-color: rgb(34, 139, 230);
}

/* Override variables for Dark Mode */
[data-theme='dark'] {
  --hero-text-color: #f5f6f7;
  --footer-bg-color: #1b1b1d;
  --block-icon-color: #4dabf7; /* Lighter blue for dark bg */
}

nav a.navbar__brand {
  display: none;
}

nav .theme-layout-navbar-left {
  display: none;
}

.block {
  display: flex;
  gap: 1.4em;
}

.blockIcon {
  color: rgb(34, 139, 230);
}

.blockHeader {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 0.2em;
}

.blockText {
  line-height: 1.7em;
}

.footer {
  background-color: var(--footer-bg-color);
  width: 100%;
  margin-top: 2rem;
  padding-block: 3rem;
  display: flex;
  justify-content: center;
}

.footerContent {
  width: 100%;
  max-width: 1300px;
  padding-inline: 1rem;
  opacity: 0.8;
}

.footerLogo {
  font-size: 1.2rem;
  font-weight: 600;
}

.footerLink {
  /* color: rgb(33, 37, 41); */
  text-decoration: none;
}

.footerLink:hover {
  /* color: rgb(33, 37, 41); */
  /* text-decoration: underline; */
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
  width: 100%;
  padding-inline: 1rem;
  padding-top: 1rem;
  max-width: 1312px;
  background-color: var(--nav-bg-color);
}

.nav a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.featureGrid {
  display: grid;
  /* Default: 1 column for mobile */
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: stretch;
  max-width: 1000px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.featureItem {
  height: 100%; /* Ensures the block takes up the full grid cell height */
  display: flex;
  flex-direction: column;
}

/* Screen width where you want the 2-column layout to kick in */
@media (min-width: 768px) {
  .featureGrid {
    /* Strictly 2 columns */
    grid-template-columns: repeat(2, 1fr);
  }
}